NODE_ENV=development

APP_NAME=massage-api
APP_PORT=7200
APP_PREFIX=api

ADMIN_URL=http://localhost:7201
WEB_URL=http://localhost:7202

DB_HOST=127.0.0.1
DB_PORT=5434
DB_USERNAME=massage_user
DB_PASSWORD=change_me
DB_DATABASE=massage_db
DB_SSL=false

REDIS_HOST=127.0.0.1
REDIS_PORT=7380
REDIS_PASSWORD=

JWT_ACCESS_SECRET=change_me
JWT_ACCESS_EXPIRES_SECONDS=900

JWT_REFRESH_EXPIRES_DAYS=30

SUPER_ADMIN_FULL_NAME=Super Admin
SUPER_ADMIN_PHONE=0901000000
SUPER_ADMIN_EMAIL=admin@massage.local
SUPER_ADMIN_PASSWORD=Admin@123456